@import "../../styles/variables.scss";

.step-container {
  text-align: center;
  font: normal normal 1.25rem/1.4 "HelveticaLight";
  color: $dark-blue;

  .link {
    font: normal normal 1.25rem/1.4 "HelveticaLight";
    color: $dark-blue;
    text-decoration: underline;
    word-break: break-all;
  }

  .widget-svg {
    width: 6rem !important;
    height: 6rem !important;
  }
}

/* Negative Step */
.negative-step {
  textarea {
    font-size: 1.1rem;
    padding: 0.5rem;
    background-color: $white;
    border: solid 1px $black;
    height: 5.5rem;
    width: 90%;
    resize: none;
    border-color: lightgray;
    border-radius: 1rem;
    margin-top: 1rem;
    color: #545871;

    &::placeholder {
      opacity: 0.6 !important;
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.rate-page-text {
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 82px;
}

.negative-step__reviewed-text,
.share-review-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.restrictions-word {
  font-size: 1rem;
}

/* Positive Step */
.positive-step {
  .share-review-heading {
    text-align: center;
    font: normal bold 3rem "HenrietteBold" !important;
    color: $dark-blue;
    margin: 0rem !important;
  }

  .redirect-link {
    cursor: pointer;
    background: transparent;
    border: 0;
    display: block;
    margin-top: 1rem;
    font: normal normal 1.25rem/1.4 "HelveticaLight";
    color: $dark-blue;
    text-decoration: underline !important;
    word-break: break-all;
  }
}

.star-ratings {
  margin-top: 1.5rem;
}

.step-container .widget-svg {
  width: 4.5rem !important;
  height: 4.5rem !important;
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
  .step-container .widget-svg {
    width: 3rem !important;
    height: 3rem !important;
  }

  .star-ratings {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .review-component {
    height: 425px;
  }

  .footer-content-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .schedule-appointment-button {
    width: 225px !important;
  }
}

@media screen and (max-width: 767px) {
  .star-ratings {
    margin-top: 4rem;
  }

  .step-container {
    padding: 0.5rem;
    .widget-svg {
      width: 3rem !important;
      height: 3rem !important;
    }
  }

  .negative-step {
    textarea {
      width: 90%;
    }

    .button-group {
      flex-direction: column;

      .submit-button {
        margin: auto !important;
        margin-bottom: 1rem !important;
      }
    }

    .negative-step__reviewed-text {
      margin-bottom: 0;
    }
  }

  .positive-step .share-review-heading {
    font-size: 2rem !important;
  }

  .negative-step__reviewed-text,
  .share-review-text,
  .rate-page-text {
    width: 90%;
  }
}

@media screen and (max-width: 415px) {

  .rate-page-text {
    height: 150px;
  }

  .step-container {
    font-size: 1.1rem !important;
  }

  .page-wrapper {
    height: 100% !important;
  }

  .review-container {
    margin-top: 2rem;
    display: block;
  }

  .review-component {
    overflow: hidden !important;
  }

  .footer-content-container {
    padding-top: 1rem !important;
  }

  .star-ratings {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 355px) {
  .step-container .widget-svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
}

@media screen and (max-width: 325px) {
  .review-component {
    height: 320px;
  }

  .page-wrapper {
    height: 100% !important;
  }

  .logo-container {
    height: 75px !important;
  }

  .review-container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 305px) {
  .step-container .widget-svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .star-ratings {
    margin-top: 1rem;
  }
}
