@import "../../styles/variables.scss";

.page-wrapper {
  display: table;
  max-width: $max-container-width;
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 150px);
}

.heading-container {
  display: table-row;
}

.heading {
  display: table-cell;
  vertical-align: bottom;
  font-family: "HenrietteBold";
  color: $dark-blue;
  text-transform: uppercase;
  padding-bottom: 1rem;
  text-align: center;
}

/* review-component component */
.review-container {
  display: table-row;
  vertical-align: middle;
  padding: 2rem;
}

.review-component {
  max-width: 72rem;
  width: 90%;
  margin: auto;
  border: solid 1px lightgray;
  border-radius: 1rem !important;
  background-color: $white;

  .logo-container {
    text-align: center;
    padding: 1rem;
    border-bottom: solid 1px lightgrey;

    img {
      width: 250px;
      height: 150px;
    }
  }

  .interaction {
    background-color: #f0f1f7;
    border-bottom: solid 1px lightgray;
  }

  .website {
    text-align: center;
    padding: 1rem;
  }

  .pink-button {
    padding: 0.75rem 3rem;
    font: normal normal 1rem "HelveticaLight";
    color: $dark-blue;
    background-color: #f7eceb;
    border-radius: 2rem;
    border: solid 1px lightgray;
    outline: none;
  }
}

/* Footer */

.footer {
  height: 120px;
  margin-top: 30px;
  background-color: $white;
  box-shadow: 5px 1px 5px rgb(34 36 38 / 15%);
}

.footer-content-container {
  max-width: $max-container-width;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-top: 1rem;

  .text {
    font: normal normal 1.25rem/1.4 "HelveticaLight";
    color: $dark-blue;
  }

  .navy-button {
    padding: 1rem 3rem;
    font: normal normal 1.25rem "HelveticaLight";
    color: $white;
    background-color: $dark-blue;
    border-radius: 2rem;
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 991px) {
  .footer-content-container {
    .text,
    .navy-button {
      font-size: 1rem;
    }

    .navy-button {
      padding: 1rem 2rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .page-wrapper {
    height: 100%;
    padding-top: 1.5rem;
  }

  .heading {
    font-size: 2rem !important;
  }

  .footer {
    background: transparent;
    box-shadow: none;
  }

  .footer-content-container {
    flex-direction: column !important;
    justify-content: flex-start;

    .text {
      text-align: left;
      width: 100%;
      padding-left: 5rem;
    }

    .navy-button {
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 1rem 3rem;
    }
  }
}

@media screen and (max-width: 390px) {
  .review-component .logo-container {
    padding: 0 !important;
  }

  .footer-content-container .text {
    padding-left: 2rem;
  }
}
