@import "../../styles/variables.scss";

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: $max-container-width;
  margin: 0 auto;
  height: calc(100vh - 245px);
}

@media screen and (min-width: 1200px) {
  .logo-container {
    height: 120px !important;
  }

  .page-wrapper {
    height: calc(100vh - 280px);
  }
}

.heading-container .heading {
  margin-bottom: 1rem;
}

.heading {
  font-family: "PoppinsRegular";
  text-align: center;
  font-weight: lighter;
}

.action-button span {
  position: relative;
  top: 2px;
}

// colors by clinic name
.undefined-container,
.default-container,
.cosmetic-container {
  .heading {
    color: #803d6e;
  }

  .action-button,
  .schedule-appointment-button {
    color: white;
    background-color: #803d6e !important;
  }

  .footer-number,
  .footer-address {
    color: #bb80ab;
  }
}

.accuro-container {
  .heading {
    color: #387d91;
  }

  .action-button,
  .schedule-appointment-button {
    color: white;
    background-color: #54646d !important;
  }
}

.imaging-container {
  .heading {
    color: #019494;
  }

  .action-button,
  .schedule-appointment-button {
    color: white;
    background: #019494 !important;
  }
}

/* review-component component */
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-height: 100%;
}

.logo-container {
  display: flex;
  height: 89px;
  justify-content: center;
  background: white;
  width: 100vw;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  border-bottom: 2px solid lightgray;

  img {
    max-width: 435px;
  }
}

.review-component {
  height: 400px;
  // max-width: 72rem;
  max-width: 50rem;
  width: 90%;
  max-height: 100%;
  // overflow: scroll;
  margin: auto;
  border: solid 2px lightgray;
  border-radius: 1rem !important;
  background-color: $white;

  .logo-container {
    text-align: center;
    padding: 1rem;
    border-bottom: solid 1px lightgrey;

    img {
      // max-width: 95%;
      max-width: 250px;
    }
  }

  .website {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .pink-button {
    font: normal normal 1rem "HelveticaLight";
    color: $dark-blue;
    background-color: #f7eceb;
    border-radius: 2rem;
    border: solid 1px lightgray;
    outline: none;
  }
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px !important;
  height: 100% !important;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Footer */

.footer {
  height: 120px;
  // margin-top: 30px;
  background-color: $white;
  border-top: 2px solid lightgray;
  // box-shadow: 5px 1px 5px rgb(34 36 38 / 15%);
}

.footer-content-container {
  max-width: $max-container-width;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-top: 1rem;

  .text {
    font: normal normal 1.25rem/1.4 "HelveticaLight";
    color: $dark-blue;
  }

  .schedule-appointment-button {
    width: 300px !important;
    height: 50px !important;
    padding: 1rem 3rem !important;
    font: normal normal 1.25rem "HelveticaLight";
    color: $white;
    background-color: $dark-blue;
    border-radius: 2rem;
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 1199px) {
  .review-component {
    overflow: hidden;
    max-height: 95%;
  }
}

@media screen and (max-width: 991px) {
  .review-component {
    height: 440px;
  }

  .footer-content-container {
    .text,
    .schedule-appointment-button {
      font-size: 1rem;
    }

    .schedule-appointment-button {
      padding: 1rem 2rem !important;
      width: 250px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-content-container {
    width: 90%;
  }

  .page-wrapper {
    height: calc(100vh - 250px);
  }

  .heading {
    font-size: 26px !important;
  }

  .footer {
    margin-top: 0;
    background: transparent;
    box-shadow: none;
    border-top: 0;
  }

  .footer-content-container {
    flex-direction: column !important;
    justify-content: flex-start;

    .text {
      text-align: left;
      width: 100%;
      padding-left: 1.5rem;
      font-size: 1.1rem;
      margin-bottom: 0;
    }

    .schedule-appointment-button {
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 1rem 3rem !important;
    }
  }

  .footer-schedule-appt-button,
  .footer-time,
  .visit-our-website-link {
    display: none;
  }

  .logo-container {
    background: white;
    width: 100vw;
    margin: auto;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    img {
      max-height: 100%;
      max-width: 250px;
    }
  }

  .review-component {
    width: 100%;
    border-width: 2px;
  }
}

@media screen and (max-width: 415px) {
  // .review-component {
  //   height: 350px;
  // }

  .review-component {
    height: 400px;
  }

  .heading {
    font-size: 24px !important;
  }

  .logo-container {
    padding: 0.5rem !important;
    height: 80px;
  }

  .page-wrapper {
    height: calc(100vh - 265px);
  }

  .footer-content-container {
    padding-top: 0;

    .text {
      padding-left: 1.5rem;
    }
  }

  // .footer {
  //   height: auto;
  // }
}

@media screen and (max-width: 325px) {
  // .review-component {
  //   height: 325px;
  // }

  .website {
    justify-content: flex-end;
  }
}
